.venv/
__pycache__/
*.pyc

.env
mlruns/

data/raw/**
data/processed/
data/features/
data/final/**

!data/raw/**/*.dvc
!data/final/**/*.dvc

.ipynb_checkpoints/
.vscode/
setup_git_push.ps1
models/

# Modèles et artefacts ML
models/
*.pkl
*.joblib
*.keras
mlruns/
